@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91j0sx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?91j0sx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?91j0sx') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?91j0sx') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?91j0sx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock1 {
  &:before {
    content: $icon-lock1; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}

